.custom-table {
  width: 100%;
  border-spacing: 10px;
  border-collapse: separate;
}

.custom-table th, .custom-table td {
  background-color: #f9f3e9;
  border-radius: 20px;
  padding: 12px 16px;
  text-align: center;
  font-weight: bold;
  color: #5b3b1b;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
