<p>user-form works!</p>
<div class="container">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ isEditMode ? 'Editar Usuario' : 'Nuevo Usuario' }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form (ngSubmit)="onSubmit()" #userForm="ngForm">
          <mat-form-field appearance="fill">
            <mat-label>Nombre de Usuario</mat-label>
            <input matInput [(ngModel)]="user.username" name="username" required>
            <mat-error *ngIf="userForm.controls['username']?.hasError('required')">El nombre es obligatorio</mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Contraseña</mat-label>
            <input matInput [(ngModel)]="user.password" name="password" required>
            <mat-error *ngIf="userForm.controls['password']?.hasError('required')">El apellido es obligatorio</mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Correo</mat-label>
            <input matInput type="email" [(ngModel)]="user.email" name="email" required email>
            <mat-error *ngIf="userForm.controls['email']?.hasError('required')">El correo es obligatorio</mat-error>
            <mat-error *ngIf="userForm.controls['email']?.hasError('email')">El correo no es válido</mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Rol</mat-label>
            <mat-select [(ngModel)]="user.role" name="role" required>
              <mat-option value="a">Admin</mat-option>
              <mat-option value="u">Usuario</mat-option>
              <mat-option value="g">Invitado</mat-option>
            </mat-select>
            <mat-error *ngIf="userForm.controls['role']?.hasError('required')">El rol es obligatorio</mat-error>
          </mat-form-field>
          <div>
            <button mat-raised-button color="primary" type="submit" [disabled]="!userForm.valid">Guardar</button>
            <button mat-raised-button color="accent" type="button" [routerLink]="['/users']">Cancelar</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>