<mat-toolbar class="custom-toolbar">
   
    <span>
      <img src="logo2.png" alt="Logo" style="height: 40px;">
    </span>
  
 
    <span class="spacer"></span>
  
    
    <div class="nav-links">
      <a mat-button routerLink="/calendario">Calendario</a>
      <a mat-button routerLink="/reservaciones">Reservaciones</a>
      <a mat-button routerLink="/check-in">Check-In</a>
      <a mat-button routerLink="/registro-pagos">Registro de Pagos</a>
      <a mat-button routerLink="/perfil-clientes">Perfil de Clientes</a>
    </div>
  
    <span class="spacer"></span>
  
    <button class="cerrarSesion" mat-stroked-button color="primary" (click)="cerrarSesion()">Cerrar Sesión</button>
  </mat-toolbar>